---
import BrandLogo from '@components/BrandLogo.astro';
---

<footer class="w-full bg-neutral-300 dark:bg-neutral-900">
  <div
    class="mx-auto w-full max-w-[85rem] px-4 py-2 2xl:max-w-(--breakpoint-2xl)"
  >
    <div
      class="grid gap-y-2 sm:flex sm:items-center sm:justify-between sm:gap-y-0"
    >
      <p class="text-sm text-neutral-500">
        &copy; <span id="current-year"></span> Vincere One Reserve. All rights reserved.
      </p>
      <div class="flex items-center gap-x-4">
        <a
          href="/privacy-policy"
          class="text-sm text-neutral-500 hover:text-neutral-700 dark:text-neutral-400 dark:hover:text-neutral-300"
          target="_blank"
          rel="noopener noreferrer"
        >
          Privacy Policy
        </a>
        <a
          href="/terms"
          class="text-sm text-neutral-500 hover:text-neutral-700 dark:text-neutral-400 dark:hover:text-neutral-300"
          target="_blank"
          rel="noopener noreferrer"
        >
          Terms of Service
        </a>
      </div>
    </div>

    <script>
      const year = new Date().getFullYear();
      const element = document.getElementById('current-year');
      element!.innerText = year.toString();
    </script>
  </div>
</footer>
