---
import { Image } from "astro:assets";
import logo from "@/images/vincere-logo.png";
---

<header class="md:hidden fixed top-0 left-0 right-0 z-[110] bg-black py-4 border-b border-white/5">
  <div class="flex items-center justify-center">
    <a href="/" class="block">
      <Image 
        src={logo} 
        alt="Vincere Logo" 
        class="h-8 w-auto object-contain"
        loading="eager"
      />
    </a>
  </div>
</header>
