---
//Import relevant dependencies
import BrandLogo from '@components/BrandLogo.astro';
import NavLink from '@/components/ui/links/NavLink.astro';
import enStrings from '@utils/navigation.ts';
---
<header
  class="hidden md:flex sticky inset-x-0 top-4 z-50 w-full flex-wrap text-sm md:flex-nowrap md:justify-start"
>
  <nav
    class="relative mx-2 w-full px-4 py-3 font-secondary backdrop-blur-md md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto dark:backdrop-blur-md"
    aria-label="Global"
  >
    <div class="flex items-center justify-center">
      <a
        class="flex-none rounded-lg text-xl font-bold ring-zinc-500 outline-hidden focus-visible:ring-3 dark:ring-zinc-200 dark:focus:outline-hidden"
        href="/"
        aria-label="Brand"
      >
        <!-- <BrandLogo class="h-auto w-24" /> -->
      </a>
    </div>
    <div
      id="navbar-collapse-with-animation"
      class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 md:block"
    >
      <div
        class="mt-5 flex flex-col gap-x-0 gap-y-4 md:mt-0 md:flex-row md:items-center md:justify-center md:gap-x-4 md:gap-y-0 md:ps-7 lg:gap-x-7"
      >
        {
          enStrings.navBarLinks.map(link => (
            <NavLink url={link.url} name={link.name} />
          ))
        }
      </div>
      
    </div>
  </nav>
</header>